#headTbl {
  width: 100%;
  height: 80px;
  font-size: 14pt;
}

#logoImg {
  width: 170px;
}

.menuTd {
  width: 110px;
}

.menuTd2 {
  text-align: right;
  font-size: 10px;
  padding-right: 45px;
}

#headTbl span {
  position: relative;
  top: -5px;
}

.slideTd1 {
  font-size: 50pt;
  color: white;
  font-weight: bold;
}

.slideTd2 {
  font-size: 15pt;
  color: white;
}

.slideTd3 button {
  background-color: white;
  width: 180px;
  height: 60px;
  font-size: 12pt;
  border: none;
  border-radius: 5px;
}

.slideTd3 button:hover {
  opacity: 0.8;
}

#slideTextTbl {
  position: absolute;
  top: 150px;
  left: 20px;
}

#productTbl {
  text-align: center;
  font-size: 20pt;
  width: 100%;
  margin-top: 100px;
  height: 110px;
}

.pTd1 {
  font-size: 12pt;
}

#productImgTbl {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 200px;
}

#productImgTbl img {
  max-width: 101%;
  height: 420px;
}

#productImgTbl img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.footerTbl {
  background-color: #052644;
  color: #c9e3f9;
  width: 100%;
  height: 200px;
}

.a td {
  width: 50%;
}

.a td:first-child {
  padding-right: 100px;
}

.a td:last-child {
  padding-left: 100px;
}

.b {
  border-top: 1px solid gray;
}

.b td {
  width: 33%;
  font-size: 10pt;
}

.b td:first-child {
  padding-left: 100px;
}

.b td:nth-child(2) {
  padding-left: 150px;
}

.b td:last-child {
  padding-left: 220px;
}

.ftd1 {
  width: 80px;
}

.ftd2 {
  width: 200px;
  padding-left: 10px;
}

.ftd3 {
  width: 180px;
  font-size: 8px;
}

.ftd4 {
  width: 200px;
}

.c span {
  background-color: #4879a4;
  border-radius: 20px;
  padding: 10px;
}
